@CHARSET "ISO-8859-1";

/*Configurando o cadastrado do filme*/
h2{
	font-size: 35px;
}
.cadastradoFilmeNome{
	font-size: 25px;
	width: 49%;
	height: 27px;
	float: left;
	margin-top: 2%;
	text-align: right;
}
.cadastroFilmeInput{
	font: solid black;
	width: 49%;
	height: 27px;
	float: right;
	margin-top: 2%;
	margin-left: 2%;
	background-color: #c0c0c0;
}
.cadastroFilmeTextArea{
	width: 49%;
	height: 227px;
	float: right;
	margin-top: 2%;
	margin-left: 2%;
	background-color: #80ff00;
}
.btn{
	width: 100%;
	margin-top: 2%;
	font-size: 25px;
	background-color: lime;
}
.link{
	width: 100%;
	font-size: 35px;
}

/*Configurando o cadastrado do usuario*/
h2{
	font-size: 35px;
}
.cadastradoUsuarioNome{
	font-size: 25px;
	width: 29%;
	height: 27px;
	float: left;
	margin-top: 2%;
	text-align: right;
}
.cadastroUsuarioInput{
	width: 69%;
	height: 27px;
	float: right;
	margin-top: 2%;
	margin-left: 2%;
	background-color: #c0c0c0;
}
.CadastroUsuariobtn{
	width: 100%;
	margin-top: 2%;
	font-size: 25px;
	background-color: lime;
}
.CadastroUsuariolink{
	width: 100%;
	font-size: 35px;
}

/*Comfigurando o login para o index*/

.tabelaLogin {
	border: 0px solid black;
	width: 100%;
	margin-bottom: 35px;
}
.nomeLogin {
	margin-top: 13%;
	text-align: center;
	font-size: 15px;
}
.textLogin {
	width: 100%;
	height: 25px;
	background-color: #80ff80;
}
.btnLogin {
	width: 100%;
	background-color: #52c03f;
	margin-top: 3%;
	margin-bottom: 3%;
}
.linkLogin {
	float: left;
}
.sairLogado{
	font-size: 25px;
}
.logado{
	font-size: 25px;
}

/*Comfigurando a tabela de lista filme*/

.tabelaLista{
	margin-top: 20px;
	border-color: blue;
	background: #ecffef;
	margin: 0 auto;
}
.listaNomeFilme{
	font-size: 20px;
}
.listaValorFilme{
	font-size: 15px;
}
.siteListaFilmeTable{
	text-align: center;
	margin-right: 1%;
	margin-left: 1%;	
}
.h1{
	font-size: 50px;
	margin-top: 15px;
}